{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}


        <div id="zone">



        </div>


    <hr>
    <a class="bouton_secondaire" href="{{ path('app_manif') }}" >Retour</a>
    <form action="{{ path('app_validation') }}" method="post">
        <input type="hidden" name="liste" id="liste">
        <input type="submit" value="Valider ma commande.">
    </form>
    <hr>

    <script src="{{ asset('js/scriptgeneral.js') }}"></script>
    <script src="{{ asset('js/scriptpanier.js') }}"></script>

{% endblock %}