{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<p>Vous êtes déconnecté !</p>


    <script src="{{ asset('js/scriptgeneral.js') }}"></script>
{% endblock %}