html{
    width: auto;
}
body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
    width: auto;
}

#carousel{
    background-color: darkgray;
    width: 100%;
    height: 500px;
}

#a-la-une{
    padding: 5px;
    background-color: white;
    display: grid; 
 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 50px;
    height: 650px;
    width: 75%;
    margin: auto;

}

.affiche{
    background-color: aqua;
    height: 100%;
    width: 100%;

    position: relative;
}