footer{
    background-color: #17051F;
    height: 40px;
    width: 100%;
    margin-top: 50px;

    color: white;
    font-family: 'Inter', sans-serif;

    position: fixed;
    bottom: 0px
}

footer a{
    color: white;
    text-decoration: none;
}

#footercontent{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
