a{
    font-weight: bold;

    color: whitesmoke;
    text-decoration: none;

}

header{

}

#main-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #17051F;
    align-items: center;
    padding: 10px 50px;
}

#search-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #17051F;
    opacity: 0.7;
}

#header-logo img{
    width: 50px;

    margin: 10px;
}

#header-liens{
    text-align: left;
    width: 25%;
}

#recherche-wrapper{
    width: 50%;
}
#recherche-wrapper input{
    width: 60%;
    height: 30px;
    border-radius: 5px;
}
#recherche-wrapper button{
    height: 35px;
}

#filtres-wrapper{
    width: 10%;
}
#filtres-wrapper button{
    height: 35px;
}

#utilisateur-pictos{
    width: 15%;
    text-align: right;

}

.dropdown {
    display: flex;
    flex-direction: row;

}