{% extends 'base.html.twig' %}

{% block title %}Votre commande {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}


    <h1>Votre commande a été passée avec succès !</h1>
    <h2>Vous pouvez retourner sur la <a href="{{ path('app_accueil') }}">page d'accueil</a> </h2>



    <script src="{{ asset('js/scriptfinal.js') }}"></script>
{% endblock %}


